<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main class="container main-container mt-lg-3" id="main-container">
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">CV</strong>
                <small class="currentTime"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    <div class="contol_buttons" id="contol_buttons">
        <a href="/edit" class="btn <%= isEdit ? 'd-none-important' : '' %>" id="edit_btn"><i class="bi bi-pencil-square"></i></a>
        <a href="/" class="btn <%= isEdit ? '' : 'd-none-important' %>" id="save_btn"><i class="bi bi-eye"></i></a>
    </div>
    <input type="hidden" name="cvId" id="cvId" value="<%= cv._id %>">

    <div class="d-flex align-items-start profile-section">
        <% if (typeof cv !== 'undefined' && cv !== '') {%>
        <div class="row profile-left-section">
            <div class="d-flex flex-column justify-content-center align-items-center profile-image-container p-4 profile-inner-section" id="profile-image-container">
                <img class="rounded-circle w-50 mb-2 profile-photo" id="profile-photo" src="<%= cv.cv.photoUrl%>" alt="">

                <input class="w-100 js-mainInfo" type="text" value="<%= cv.cv.photoUrl%>" name="photoUrl" placeholder="Photo url">
            </div>

            <div class="section-contacts profile-inner-section">
                <div class="section-title">
                    Contacts
                </div>
                <!-- /.section-title -->
                <div class="d-flex mb-2 align-items-center section-contacts_address" id="section-contacts_address">
                    <div class="col-5 col-lg-4 m-0 section-contacts_subtitle address-title">
                        <label for="addressInput">Address:</label>
                    </div>
                    <div class="col col-lg-8 address" id="address">
                        <input type="text" value="<%= cv.cv.contacts.city %>" name="city" id="addressInput" class="p-1 js-mainInfo" placeholder="Enter address">
                    </div>
                </div>
                <!-- /.section-contacts_address -->
                <div class="d-flex mb-2 align-items-center section-contacts_phone" id="section-contacts_phone">
                    <div class="col-5 col-lg-4 mb-0 section-contacts_subtitle phone-title">
                        <label for="phoneInput">Phone:</label>
                    </div>
                    <div class="col col-lg-8 phone" id="phone">
                        <input type="text" value="<%= cv.cv.contacts.phone %>" name="phone" id="phoneInput" class="p-1 js-mainInfo" placeholder="Enter phone number">
                    </div>
                </div>
                <!-- /.section-contacts_phone -->
                <div class="d-flex mb-0 align-items-center section-contacts_email" id="section-contacts_email">
                    <div class="col-5 col-lg-4 mb-0 section-contacts_subtitle email-title">
                        <label for="emailInput">Email:</label>
                    </div>
                    <div class="col col-lg-8 email" id="email">
                        <input type="text" value="<%= cv.cv.contacts.email %>" name="email" id="emailInput" class="p-1 js-mainInfo" placeholder="Enter email">
                    </div>
                </div>
                <!-- /.section-contacts_email -->
            </div>
            <!-- /.section-contacts -->

            <div class="section-education profile-inner-section" id="section-education">
                <div class="section-title">
                    Education
                    <a href="#" class="ms-2 text-primary" id="plusEducationItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->
                <div class="education-inner" id="education-inner">
                    <% if (typeof cv.cv.education !== 'undefined' && cv.cv.education.length > 0) { %>
                        <ul class="education-list-items list-unstyled">
                            <% let dataId = 0; %>
                            <% cv.cv.education.forEach(function (educationItem) { %>
                                <li class="education-item d-flex align-items-center justify-content-between">
                                    <div class="col-9">
                                        <div class="education-item-institutionName col-12 mb-2">
                                            <input class="col-12 p-1 js-mainInfo" type="text" name="educationInstitutionName[]" data-id="<%= dataId %>" value="<%= educationItem.institutionName %>" placeholder="Enter institution name">
                                        </div>
                                        <div class="education-item-institutionName col-12 mb-2">
                                            <input class="col-12 p-1 js-mainInfo" type="text" name="educationCourseName[]" data-id="<%= dataId %>" value="<%= educationItem.courseName %>" placeholder="Enter course name">
                                        </div>
                                        <div class="technical-courses-dates col-12 d-flex justify-content-between">
                                            <input class="col-5 p-1 js-mainInfo" type="text" name="educationDateStart[]" data-id="<%= dataId %>" value="<%= educationItem.dateStart %>" placeholder="Date start">
                                            <input class="col-5 p-1 js-mainInfo" type="text" name="educationDateEnd[]" data-id="<%= dataId %>" value="<%= educationItem.dateEnd %>" placeholder="Date end">
                                        </div>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="#" class="btn text-danger removeEducationItem" data-id="<%= dataId %>"><i class="bi bi-trash-fill"></i></a>
                                    </div>
                                </li>
                                <% dataId += 1; %>
                            <% }) %>
                        </ul>
                    <% } %>
                </div>
                <!-- /.education-inner -->
            </div>
            <!-- /.section-education -->

            <div class="section-technical-courses profile-inner-section" id="section-technical-courses">
                <div class="section-title">
                    Technical courses
                    <a href="#" class="ms-2 text-primary" id="plusTechnicalCourseItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->
                <div class="technical-courses-inner" id="technical-courses-inner">
                    <% if (typeof cv.cv.technicalCourses !== 'undefined' && cv.cv.technicalCourses.length > 0) { %>
                        <ul class="technical-courses-list list-unstyled">
                            <% let dataId = 0; %>
                            <% cv.cv.technicalCourses.forEach(function (course) { %>
                                <li class="technical-courses-item d-flex align-items-center justify-content-between">
                                    <div class="col-9">
                                        <div class="technical-courses-title col-12 mb-2">
                                            <input class="col-12 p-1 js-mainInfo" type="text" name="courseName[]" data-id="<%= dataId %>" value="<%= course.courseName %>" placeholder="Course name">
                                        </div>
                                        <div class="technical-courses-dates col-12 d-flex justify-content-between">
                                            <input class="col-5 p-1 js-mainInfo" type="text" name="courseDateStart[]" data-id="<%= dataId %>" value="<%= course.dateStart %>" placeholder="Date start">
                                            <input class="col-5 p-1 js-mainInfo" type="text" name="courseDateEnd[]" data-id="<%= dataId %>" value="<%= course.dateEnd %>" placeholder="Date end">
                                        </div>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="#" class="btn text-danger removeTechnicalCourseItem" data-id="<%= dataId %>"><i class="bi bi-trash-fill"></i></a>
                                    </div>
                                </li>
                                <% dataId += 1; %>
                            <% }) %>
                        </ul>
                    <% } %>
                </div>
                <!-- /.education-inner -->
            </div>
            <!-- /.technical-courses -->

            <div class="section-soft-skills profile-inner-section" id="section-soft-skills">
                <div class="section-title">
                    Soft skills
                    <a href="#" class="ms-2 text-primary" id="plusSoftSkillItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->
                <div class="soft-skills-inner" id="soft-skills-inner">
                    <% if (typeof cv.cv.softSkillSet !== 'undefined' && cv.cv.softSkillSet.length > 0) { %>
                        <ul class="soft-skills-list list-unstyled">
                            <% cv.cv.softSkillSet.forEach(function (skill) { %>
                                <li class="soft-skill-item mb-1">
                                    <input class="p-1 col-9 js-mainInfo" type="text" name="softSkillList[]" value="<%= skill %>" placeholder="Skill name">
                                    <a href="#" class="btn text-danger ms-2 col-2 removeSoftSkillItem"><i class="bi bi-trash-fill"></i></a>
                                </li>
                            <% }) %>
                        </ul>
                    <% } %>
                </div>
                <!-- /.soft-skills-inner -->
            </div>
            <!-- /.section-soft-skills -->

            <div class="section-languages profile-inner-section" id="section-languages">
                <div class="section-title">
                    Languages
                    <a href="#" class="ms-2 text-primary" id="plusLangItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->
                <div class="languages-inner" id="languages-inner">
                    <ul class="lang-list list-unstyled">
                        <% if (typeof cv.cv.language !== 'undefined' && cv.cv.language.length > 0) {%>
                            <% let dataId = 0; %>
                            <% cv.cv.language.forEach(function (lang) { %>
                                <li class="lang-item d-flex justify-content-around">
                                    <input class="col-4 p-1 js-mainInfo" type="text" name="langName[]" data-id="<%= dataId %>" value="<%= lang.name %>" placeholder="Lang name">
                                    <input class="col-5 p-1 js-mainInfo" type="text" name="langLevel[]" data-id="<%= dataId %>" value="<%= lang.level %>" placeholder="Lang level">
                                    <a href="#" class="btn text-danger ms-2 col-2 removeLangItem" data-id="<%= dataId %>"><i class="bi bi-trash-fill"></i></a>
                                </li>
                                <% dataId += 1; %>
                            <% }); %>
                        <% } %>
                    </ul>
                </div>
                <!-- /.languages-inner -->
            </div>
            <!-- /.section-languages -->
        </div>
        <!-- /.profile-left-section-->

        <div class="profile-right-section col-lg-8">
            <div class="d-flex flex-column justify-content-center align-items-start pt-5 profile-name-and-position-wrap profile-inner-section">
                <div class="d-flex w-100 align-items-center" id="profile-name-wrap">
                    <div class="px-0 col-3 col-lg-2 text-start section-title">
                        <label class="" for="nameInput">Name:</label>
                    </div>
                    <div class="col-9 col-lg-10">
                        <input type="text" value="<%= cv.cv.name %>" id="nameInput" name="name" class="p-1 js-mainInfo" placeholder="Enter Name">
                    </div>
                </div>
                <div class="d-flex w-100 align-items-center" id="profile-surname-wrap">
                    <div class="px-0 col-3 col-lg-2 text-start section-title">
                        <label class="mr-2" for="surnameInput">Surname:</label>
                    </div>
                    <div class="col-9 col-lg-10">
                        <input type="text" value="<%= cv.cv.surname %>" id="surnameInput" name="surname" class="p-1 js-mainInfo" placeholder="Enter Surname">
                    </div>
                </div>
                <div class="d-flex w-100 align-items-center" id="profile-position-wrap">
                    <div class="px-0 col-3 col-lg-2 text-start section-title">
                        <label class="mr-2" for="positionInput">Position:</label>
                    </div>
                    <div class="col-9 col-lg-10">
                        <input type="text" value="<%= cv.cv.careerObjective %>" id="positionInput" name="careerObjective" class="p-1 js-mainInfo" placeholder="Enter career objective">
                    </div>
                </div>
            </div>

            <div class="section-about profile-inner-section" id="section-about">
                <div class="section-title">
                    About me
                    <a href="#" class="ms-2 text-primary" id="plusAboutItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->

                <div class="about-inner" id="about-inner">
                    <% if (typeof cv.cv.summary !== 'undefined' && cv.cv.summary.length > 0) {%>
                        <ul class="about-list">
                            <% cv.cv.summary.forEach(function (value) { %>
                                <li class="about-item d-flex align-items-center">
                                    <textarea rows="3" class="w-100 p-1 summaryTextArea js-mainInfo" type="text" name="textSummary[]" placeholder="Text summary"><%= value %></textarea>
                                    <a href="#" class="btn text-danger ms-2 removeAboutItem"><i class="bi bi-trash-fill"></i></a>
                                </li>
                            <% }) %>
                        </ul>
                    <% } %>
                </div>
                <!-- /.about-inner -->
            </div>
            <!-- /.section-about -->

            <div class="section-tehnical-skills profile-inner-section" id="section-tehnical-skills">
                <div class="section-title">
                    Tehnical skills
                    <a href="#" class="ms-2 text-primary" id="plusTehnicalSkillsItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->
                <div class="tehnical-skills-inner" id="tehnical-skills-inner">
                    <% if (typeof cv.cv.tehnicalSkillSet !== 'undefined' && cv.cv.tehnicalSkillSet.length > 0) { %>
                            <% let dataId = 0; %>
                            <% cv.cv.tehnicalSkillSet.forEach(function (value) { %>
                                <ul class="tehnical-skill-list list-unstyled">
                                    <% if (typeof value.categoryName !== 'undefined') { %>
                                        <li class="technical-category-name mb-2 d-flex align-items-center">
                                            <input class="p-1 mr-1 tehnicalSkillCategoryName js-mainInfo" type="text" data-id="<%= dataId %>" name="tehnicalSkillCategoryName[]" value="<%= value.categoryName %>" placeholder="Enter skill category name"/>
                                            <a href="#" class="ms-2 text-primary plusTehnicalSkill" data-id="<%= dataId %>"><i class="bi bi-plus-circle"></i></a>
                                        </li>
                                    <% } %>

                                    <% if (typeof value.skills !== 'undefined' && value.skills.length > 0) { %>
                                        <% value.skills.forEach(function (skill) { %>
                                            <li class="technical-skill-item mb-2 d-flex align-items-center">
                                                <input class="p-1 w-50 js-mainInfo" type="text" data-id="<%= dataId %>" name="technicalskillSet[]" value="<%= skill %>" placeholder="Enter skill name">
                                                <a href="#" class="btn text-danger ms-2 removeTechnicalskill" data-id="<%= dataId %>"><i class="bi bi-trash-fill"></i></a>
                                            </li>
                                        <% }) %>
                                    <% } %>
                                </ul>
                            <hr>
                        <% dataId += 1; %>
                            <% }) %>
                    <% } %>
                </div>
                <!-- /.tehnical-skills-inner -->
            </div>
            <!-- /.section-tehnical-skills -->

            <div class="section-experiance profile-inner-section" id="section-experiance">
                <div class="section-title">
                    Experiance
                    <a href="#" class="ms-2 text-primary" id="plusExperianceItem"><i class="bi bi-plus-circle"></i></a>
                </div>
                <!-- /.section-title -->

                <div class="experiance-inner" id="experiance-inner">
                    <% if (typeof cv.cv.workExperiance !== 'undefined' && cv.cv.workExperiance.length > 0) { %>
                        <% let dataId = 0 %>
                        <% cv.cv.workExperiance.forEach(function (value) { %>
                            <div class="experiance-item">
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="me-2 fw-bolder col-2">
                                        <label class="" for="nameInput">Company name:</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="w-100 p-1 js-mainInfo" data-id="<%= dataId %>" name="experianceTitle[]" value="<%= value.companyName %>" placeholder="Enter company name">
                                    </div>
                                </div>
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="me-2 fw-bolder col-2">
                                        <label class="" for="nameInput">Position title:</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="w-100 p-1 js-mainInfo" data-id="<%= dataId %>" name="experiancePosition[]" value="<%= value.position %>" placeholder="Enter position">
                                    </div>
                                </div>
                                <div class="d-flex mb-3 align-items-center">
                                    <div class="me-2 fw-bolder col-2">
                                        <label class="" for="nameInput">Experiance dates:</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="w-40 p-1 js-mainInfo" data-id="<%= dataId %>" name="experianceDateStart[]" value="<%= value.dateStart %>" placeholder="Date start">
                                        <input type="text" class="w-40 p-1 js-mainInfo" data-id="<%= dataId %>" name="experianceDateEnd[]" value="<%= value.dateEnd %>" placeholder="Date end">
                                    </div>
                                </div>


                                <div class="responsibilities-wrap">
                                    <div class="me-2 d-flex align-items-center mb-2 fw-bolder">
                                        <label class="" for="nameInput">Responsibilities:</label>
                                        <a href="#" class="ms-2 text-primary plusResponsibilityItem" data-id="<%= dataId %>"><i class="bi bi-plus-circle"></i></a>
                                    </div>
                                    <div class="responsibilities">
                                        <% if (typeof value.responsibilities !== 'undefined' && value.responsibilities.length > 0) { %>
                                            <ul class="list-unstyled responsibility-list" data-id="<%= dataId %>">
                                                <% value.responsibilities.forEach(function (responsibility, key) { %>
                                                    <li class="d-flex align-items-center responsibility-item">
                                                        <textarea class="w-100 mb-2 p-1 js-mainInfo" rows="3" data-id="<%= dataId %>" name="responsibility[]" id="" placeholder="Enter responsibility"><%= responsibility %></textarea>
                                                        <a href="#" class="btn text-danger ms-2 removeResponsibilityItem"><i class="bi bi-trash-fill"></i></a>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        <% dataId += 1 %>
                        <% }) %>
                    <% } %>
                </div>
                <!-- /.experiance-inner -->
            </div>
            <!-- /.section-experiance -->


        </div>
        <!-- /.profile-right-section-->
            <% }%>
    </div>
    <div class="text-center py-2 fw-bolder text-black-50">Create by <span class="text-uppercase">Andrii</span></div>
</main>

<%- include('includes/footer.ejs') %>